:root {
    --bg-dark: #000000;
    --color-gold: #BDAE82;
    --color-white: #ffffff;
    --font1: 60px;
    --font2: 40px;
  }
.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    background-color: #000000;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
  }
  

.section {

}








  .footer {
    background-color: var(--bg-dark);
    padding: 10px;  
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
  }
  
  .github {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
  }
  
  .rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/svg/rsschool.svg");
    background-size: contain;
  }